<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>




    <title>Sorting H.A.T.</title>
  </head>
  <body>
    <div class="container">

      <div class="jumbotron">
        <h1 class="display-4">Sorting H.A.T.<span style="font-size:70%; vertical-align: text-top;">*</span><img src="/static/sorting-hat-logo.png" height="100em" style=" vertical-align: text-bottom;"></h1>
        <p class="lead">Organize your audio library with the help of neural nets.</p>
        <p class="sublead" style="font-size: 90%;">*Hosted Audio Tagger</p>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="nav nav-tabs">
              <li class="active"><a class="tab-text" data-toggle="tab" href="#home">Train the Neural Net</a></li>
              <li><a class="tab-text" data-toggle="tab" href="#menu1">Sort Your Library</a></li>
              <li><a class="tab-text" data-toggle="tab" href="#menu2">About</a></li>

            </ul>

            <div class="tab-content">

                  <div id="home" class="tab-pane fade in active">
                    <header class="tab-content-header">
                      <h2>Training the Neural Net</h2>
    		<p>On your computer, make a folder called
           <span class="img-tooltip">"Samples"</span>
           and inside it create sub-folders with the names of each category you want to train on.  Place your audio files in these sub-folders accordingly.
           Then zip the Samples folder and upload <b>Samples.zip</b> via this form.<br>
                    <form id="upload-form" action="{{ url_for('upload_train') }}" method="POST" enctype="multipart/form-data">
                      <div class="submission-form">
                            <span class="form-input fileUpload btn btn-primary btn-lg">
                                <span>Upload Training Audio</span>
                                <input type="file" name="file" class="upload" multiple>
                            </span>
                            <span class="form-input btn btn-primary btn-lg fileUpload">
                              <span>Submit</span>
                              <input type="submit" value= "Submit" class="upload">
                            </span>
                           <div class="progress" value="0" max="100" >
                              <div id="progressbar" class="progress-bar progress-bar-striped active" style="width:0%;">
                                    <div class="percent">0%</div>
                              </div>
                            </div>
                            <div id="status"></div>
                      </div>
                       <input  id="advanced_show" class="advanced_show" type="checkbox" />
                       <label for="advanced_show"><u>Advanced Settings</u></label>
                       <div class="advanced_content">
                               <i><b>TODO:</b> none of these work yet </i><br>
                               <span tooltip="How the 'synapses' of the neural network are initialized">Starting Weights:</span>  (Three choices: Default Pre-trained, Random, or Upload a weights file)<br>
                               <span tooltip="Use the first __ seconds of each audio clip. Zero-pad shorter clips">Clip Length:</span>
                                      <input type="number" name="dur" step="1" pattern="\d+" size="2" value="3"> s<br>
                               <span tooltip="Number of machine learning iterations to run. Can re-run again for more training">Epochs:</span>
                                      <input type="number" name="epochs" step="1" pattern="\d+" size="2" value="50"/> <br>
                               <span tooltip="For rapid Transfer Learning. Freezes first __ fraction of model layers, i.e. weights are not trained. 0.0 = train all layers (slow), 0.8 is fast but may limit accuracy">Freeze fraction:</span>
                                      <input type="number" name="epochs" size="2" step="0.01" value="0.0"><br>
                       </div>
                    </form>
                  </div>

                  <div id="menu1" class="tab-pane fade">
                    <header class="tab-content-header">
                      <h2>Sorting Your Library</h2>
                      <p>Select (or drag) as many files as you'd like to assign new tags to.<br>
                         Optional: You may upload a network weights file of your own (i.e. your own categories), or use the weights already on the server.<br>
                         Optional: "File Path" = ...?? working on it</p>
                    </header>
                    <form id="upload-form" action="{{ url_for('upload_sort') }}" method="POST" enctype="multipart/form-data">
                      <div class="submission-form">
                        <span class="form-input fileUpload btn btn-primary btn-lg">
                            <span>Upload Audio to Sort</span>
                            <input type="file" name="file" class="upload"  multiple>
                        </span>
                        <span class="form-input fileUpload btn btn-primary btn-lg">
                            <span>Upload Weights File</span>
                            <input type="file" name="file_weights" class="upload" value="server">
                        </span>
                        <div class="input-group input-group-lg file-path-input">
                          <span class="input-group-addon" id="sizing-addon1">File Path</span>
                          <input type="text" class="form-control" placeholder="File Path to Parent Directory" aria-describedby="sizing-addon1">
                        </div>
                        <span class="form-input btn btn-primary btn-lg fileUpload">
                          <span>Submit</span>
                          <input type="submit" value= "Submit" class="upload">
                        </span>
                      </div>
                    </form>
                  </div>

                  <div id="menu2" class="tab-pane fade">
                    <header class="tab-content-header">
                      <h2>About</h2>
                    <div class="description">
                      <p>Sorting H.A.T. is a cloud-based service that applies machine learning to the task of audio 'tagging'.
                                  This task is computation-intensive and beyond the capabilities of typical laptops, which is why we use GPU (graphics processing units) hosted in the cloud!<p>
                       <p style="font-size:100%">Sorting H.A.T. can enable composers and producers to re-label their audio sample libraries
                                  according to genre, instrument, or even personal preferences.</p>
                       <p>It's essentially a user-friendly interface for the <a href="http://github.com/drscotthawley/panotti">Panotti</a> neural network, which is based on
                         <a href="https://github.com/keunwoochoi">@keunwoochoi</a>'s <a href="https://github.com/keunwoochoi/music-auto_tagging-keras">CNN Music Tagger</a>.
                        The basic idea is that we make spectrogram images of the audio files, and then apply an image-recognition algorithm that uses Convolutional Neural Networks (CNN).</p>
                        <p>Sorting H.A.T. began at the HackMT 2018 Hackathon at MTSU in January 2018.</p>
                        <p>-- <a href="http://github.com.drscotthawley">@drscotthawley</a></p>
                    </div>
                </div>


            </div>

          </div>
        </div>
      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>-->

    <!--  Progress bar for tracking uploads: -->
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        (function() {

            var bar = $('#progressbar');
            var percent = $('.percent');
            var status = $('#status');

            $('form').ajaxForm({
                beforeSend: function() {
                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                success: function() {
                    var percentVal = '100%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
            	complete: function(xhr) {
            		status.html(xhr.responseText);
            	}
            });

        })();
    </script>

  </body>
</html>
