<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!--<meta http-equiv="refresh" content="2">-->
    <meta http-equiv="refresh" content="0; url=train" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Training...</title>
  </head>
  <body>
    <br> 
    <br> 
    <br> 
    <center>
    <h2>Training...</h2>
   <img src="http://www.projectalexa.com/static/img/large-ajax-loader.gif" width="200">
    </center>
  </body>
</html>
