<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Done</title>
  </head>
  <body>
    <br> 
    <br> 
    <br> 
    <center>
    <h2>Panotti is Busy</h2>
   <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Road-sign-no-entry.svg" width="200"><br>
    <h2>Please try again later</2>
    </center>
    <br> 
    <br> 
    <br> 
    <br> 
   <b>Status log:</b><br>
   <pre>
   {{ include_file('log.txt') }}
   </pre>

  </body>
</html>
